body h1 {
  font-family: allura, georgia, serif; }

body h3 {
  font-family: Kumbh Sans, arial, sans-serif;
  font-size: 15pt; }

body p {
  font-family: Kumbh Sans, arial, sans-serif;
  font-weight: lighter;
  line-height: 2.5; }

body .navbar {
  background-color: #595755; }

body .social-icons {
  margin-left: 100px; }

body .navbar-logo {
  margin: 0 auto; }

body .navbar-toggler {
  background-color: white; }

body .navbar-social {
  padding: 10px; }

body .navbar-nav {
  flex-direction: row;
  font-family: Kumbh Sans, arial, sans-serif;
  margin-right: 100px; }
  body .navbar-nav li {
    padding: 5px;
    text-decoration: none;
    font-size: 10pt; }
    body .navbar-nav li a {
      color: #fff9f0; }

body .hero-image {
  background-image: url("../images/beach_cottage/beach_cottage_1.jpg");
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

body .welcome_content {
  margin-top: 140px;
  margin-bottom: 140px; }

body .welcome_text {
  margin-left: 230px;
  color: #595755; }

body .welcome_p {
  text-align: justify;
  text-align-last: left; }

body .welcome_photo {
  margin-left: 70px; }

body .from_garage {
  margin-bottom: 30px;
  font-size: 45pt; }

body .whyconvert_title {
  text-align: center; }

body .whyconvert_content {
  background-color: #dd9d72;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  width: 100%; }
  body .whyconvert_content button {
    padding: 10px 30px 10px 30px;
    margin-top: 60px;
    background-color: #fff9f0;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px #cd8b5e; }
    body .whyconvert_content button button:focus {
      outline: 3px gray;
      outline-offset: 10px; }
    body .whyconvert_content button a {
      font-family: Kumbh Sans, arial, sans-serif;
      color: #dd9d72; }

body .whyconvert_title {
  color: white;
  padding-bottom: 50px; }

body .icon {
  margin: 0 auto;
  display: block;
  padding-bottom: 40px; }

body .whyconvert_text {
  color: white; }

body .whyconvert_header {
  font-size: 16pt; }

body footer {
  background-color: #595755;
  color: #fff9f0;
  font-family: Kumbh Sans, arial, sans-serif;
  font-size: 10pt;
  padding: 30px; }
  body footer a {
    font-size: 10pt; }

body .footer-logo {
  margin-left: 50px; }
