body {

  .navbar {
    background-color: #595755;
  }

  .navbar-toggler {
    background-color: white;
  }

  .navbar-social {
    padding: 10px;
  }

  .navbar-nav {
    flex-direction: row;
    font-family: Kumbh Sans, arial, sans-serif;

    li {
      padding: 5px;
      text-decoration: none;

      a {
        color: #fff9f0;
      }
  }

  }

  .hero-image {
    background-image: url("../images/beach_cottage/beach_cottage_1.jpg");
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


}
