body h1 {
  font-family: allura, georgia, serif;
  color: #595755; }

body h3 {
  font-family: Kumbh Sans, arial, sans-serif;
  font-size: 15pt;
  color: #595755; }

body p {
  font-family: Kumbh Sans, arial, sans-serif;
  font-weight: lighter;
  color: #595755;
  line-height: 2.5; }

body .navbar {
  background-color: #595755; }

body .social-icons {
  margin-left: 30px; }

body .navbar-toggler {
  background-color: white; }

body .navbar-social {
  padding: 10px; }

body .navbar-nav {
  flex-direction: row;
  font-family: Kumbh Sans, arial, sans-serif;
  margin-right: 30px; }
  body .navbar-nav li {
    padding: 5px;
    text-decoration: none;
    font-size: 12pt; }
    body .navbar-nav li a {
      color: #fff9f0; }

body .hero-image {
  background-image: url("../images/beach_cottage/beach_cottage_1.jpg");
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

body .welcome_content {
  margin-top: 140px;
  margin-bottom: 140px; }

body .welcome_text {
  margin-left: 230px; }

body .welcome_photo {
  margin-left: 40px; }

body .from_garage {
  margin-bottom: 30px;
  font-size: 45pt; }
