body {

  .navbar {
    background-color: #595755;
  }

  .navbar-nav {
    flex-direction: row;
    font-family: Kumbh Sans, arial, sans-serif;
  }

  .nav-item {
    color: #fff9f0;
    padding: 10px;
  }


}
